/* Global Styles and variables */
:root{
  --black: #161617;
  --lightBlack: #313131;
  --lightGrey: #F2F2F2;
  --grey: #8e8e8f;
  --blue: #0071e3;
  --white: #fafafc;
  --highligh-yellow: #e09300;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco", Arial, sans-serif;
}


/* Carousel Component Related CSS */

.carouselbutton{
  height: 0.75rem;
  background-color: var(--grey);
  border: none;
  border-radius: 50%;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
/* .carouselbutton{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
} */
.carouselbuttoncurrent{
  height: 0.75rem;
  background-color: var(--lightBlack);
  border: none;
  border-radius: 50%;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.carouselbuttonlist{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
}
.stepbutton{
  margin: 0rem 0rem 0rem 0rem;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0rem;
}
.carouselstepbutton{
  position: absolute;
  top: 50%;
  right: calc(50% - var(--gallery-width)/2 + 18px);
  /* background-color: rgba(210,210,215,.64); */
  background-color: rgba(210,210,215,.64); 
  color: rgba(0,0,0,.56);
  font-weight: 300;
  width: 3.05882rem;
  height: 3.05882rem;
  border-radius: 3.05882rem;
  font-size: 53px;
  line-height: 3.05882rem;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin: 10rem 0rem 0rem 2rem;
}
.carouselsteprightbutton{
  position: absolute;
  top: 50%;
  /* right: calc(50% - var(--gallery-width)/2 + 18px); */
  /* background-color: rgba(210,210,215,.64); */
  background-color: rgba(210,210,215,.64);
  margin: 10rem 0rem 0rem 40rem; 
  color: rgba(0,0,0,.56);
  font-weight: 300;
  width: 3.05882rem;
  height: 3.05882rem;
  border-radius: 3.05882rem;
  font-size: 53px;
  line-height: 3.05882rem;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.carouselstepbutton:hover{
  background-color: rgb(222 222 226);
 
}
.arrowLeftIcon{
  position: relative;
  height: 1.50rem;
  width: 1.50rem;
  margin: 0rem 0.4rem 0.43rem 0.13rem;
}
.arrowRightIcon{
  position: relative;
  height: 1.50rem;
  width: 1.50rem;
  margin: 0rem 0.4rem 0.43rem 0.55rem;
}

.carouselMain{
  height: auto;
  width: auto;
  /* max-height: 1200px; */
  border-radius: 15px;
  /* border: 1px solid var(--black); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.carouselImages{
  height: 20rem;
  width: 40rem;
}
.carouselImage{
  height: 25rem;
  width: 45rem;
}
.carouselbuttonlistmain{
  position: absolute;
  top: 50%;
  margin: 6.5rem 0rem 0rem 19.5rem; 
  color: rgba(0,0,0,.56);
  font-weight: 300;
  width: 3.05882rem;
  height: 3.05882rem;
  border-radius: 3.05882rem;
  font-size: 53px;
  line-height: 3.05882rem;
  border: none;

  z-index: 1;
}

/* Header Component Related CSS */

.headerLogo{
  height: 1.5rem;
  width: 1.5rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.headerMain{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0rem 0rem 0rem 0rem;
  padding: 1rem 1rem 1rem 1rem;
}
.headerList{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap:1.5rem;
}
.headerListItem{
  font-size: 1rem;
  font-weight: 550;
  font: bolD;
  color: var(--lightBlack);
  
  cursor: pointer;
}
.svgIcon{
  height: 2rem;
  width: 2rem;
  margin: -0.7rem 0rem 0rem 0rem;
}