/* Global Styles and variables */
:root{
  --black: #161617;
  --lightBlack: #313131;
  --lightGrey: #F2F2F2;
  --grey: #8e8e8f;
  --blue: #0071e3;
  --white: #fafafc;
  --highligh-yellow: #c48003;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: "San Francisco", Arial, sans-serif;
}


/* Carousel Component Related CSS */

.carouselbutton{
  height: 0.75rem;
  background-color: var(--grey);
  border: none;
  border-radius: 50%;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
/* .carouselbutton{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
} */
.carouselbuttoncurrent{
  height: 0.75rem;
  background-color: var(--lightBlack);
  border: none;
  border-radius: 50%;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.carouselbuttonlist{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
}
.stepbutton{
  margin: 0rem 0rem 0rem 0rem;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0rem;
}
.carouselstepbutton{
  position: absolute;
  top: 50%;
  right: calc(50% - var(--gallery-width)/2 + 18px);
  /* background-color: rgba(210,210,215,.64); */
  background-color: rgba(210,210,215,.64); 
  color: rgba(0,0,0,.56);
  font-weight: 300;
  width: 3.05882rem;
  height: 3.05882rem;
  border-radius: 3.05882rem;
  font-size: 53px;
  line-height: 3.05882rem;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin: 10rem 0rem 0rem 2rem;
}
.carouselsteprightbutton{
  position: absolute;
  top: 50%;
  /* right: calc(50% - var(--gallery-width)/2 + 18px); */
  /* background-color: rgba(210,210,215,.64); */
  background-color: rgba(210,210,215,.64);
  margin: 10rem 0rem 0rem 40rem; 
  color: rgba(0,0,0,.56);
  font-weight: 300;
  width: 3.05882rem;
  height: 3.05882rem;
  border-radius: 3.05882rem;
  font-size: 53px;
  line-height: 3.05882rem;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.carouselstepbutton:hover{
  background-color: rgb(222 222 226);
}
.arrowLeftIcon{
  position: relative;
  height: 1.50rem;
  width: 1.50rem;
  margin: 0rem 0.4rem 0.43rem 0.13rem;
}
.arrowRightIcon{
  position: relative;
  height: 1.50rem;
  width: 1.50rem;
  margin: 0rem 0.4rem 0.43rem 0.55rem;
}

.carouselMain{
  height: auto;
  width: 50rem;
  /* max-height: 1200px; */
  border-radius: 15px;
  /* border: 1px solid var(--black); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.carouselImages{
  height: 25rem;
  width: 40rem;
}
.carouselImage{
  height: 25rem;
  width: 45rem;
}
.carouselbuttonlistmain{
  position: absolute;
  top: 50%;
  margin: 6.5rem 0rem 0rem 19.5rem; 
  color: rgba(0,0,0,.56);
  font-weight: 300;
  width: 3.05882rem;
  height: 3.05882rem;
  border-radius: 3.05882rem;
  font-size: 53px;
  line-height: 3.05882rem;
  border: none;
  z-index: 1;
}







/* Header Component Related CSS */

.headerLogo{
  height: 1rem;
  width: 1rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}
.headerMain{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 0rem 0rem 0rem 0rem;
  padding: 1rem 1rem 1rem 1rem;
}
.headerList{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap:1.5rem;
}
.headerList1{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap:1.5rem;
  margin: -0.5rem 0rem 0rem 0rem;
}
.headerListItem{
  font-size: 1rem;
  font-weight: 550;
  font: bold;
  color: var(--lightBlack);
  cursor: pointer;
}

.svgIcon1{
  height: 2rem;
  width: 2rem;
  display: flex;
}
.svgIcon{
  height: 2rem;
  width: 2rem;
  display: flex;
  margin: 0rem 0rem 0.2rem 0rem;
}
.headerRight{
  display: flex;
  margin: -0.28rem 0rem 1rem 0rem;
  
}
/* Product Title Component Related CSS */
.NewTagIconText{
  color:var(--highligh-yellow);
  margin: 0.7rem 0rem 0rem 0.2rem;
  padding: auto;
}
.productHeroTitle{
  padding: 1rem 1rem 1rem 1rem;
  margin: 0rem 0rem 0rem 0rem;
}
.productHeroTitleText{
  font-size: 3rem;
  font-weight: 650;
  font: bold;
  color: solid var(--lightBlack);
  margin: 0rem 0rem 0rem 0rem;
}


.productPageMidCarousel {
  /* Add your styles for the mid carousel */
  transition: transform 0.3s ease-out;
}
.productPageRightCarouselFixed{
  margin: 0rem 0rem 0rem 30rem;
}
.productPageMidCarouselFixed {
  position: fixed;
  top: 0;
  /* left: 30%; */
  margin: 5rem 0rem 4rem -27.4rem;
  /* transform: translateX(-50%); */
  /* Add additional styles for the fixed state */
}
.midCarouselFixed {
  margin: 0rem 0rem 0rem 12.5rem;
  padding: 0rem 0rem 0rem 0rem;
}





.mainDiv{
  display: flex;
  flex-direction: column;
}
.productPageMid{
  display: flex;
  gap: 5rem;
  margin: 0rem 0rem 0rem 30rem;
}
.productPageLeft{
  display:flex-column; 
}

.productPageBottom{
  margin: 0rem -40rem 0rem 10rem;
}











.WhatsInsideBoxItemNumber{
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center;
  /* justify-content: center; */
  /* flex-direction: column; */
}
.WhatsInsideBoxItem{
  display: flex;
  /* justify-content: center;*/
  /* flex-direction: column; */
}

.WhatsInsideBoxItemText {
  margin-top: 10px; /* Add space between image and text */
  text-align: center; /* Center text */
}
.WhatsInsideBoxItemMain{
  display: flex;
  justify-content: center; 
  gap: 5rem;

}
.WhatsInsideBox{
  justify-content: center;
}
.WhatsInsideBoxTitle{
  display: flex;
  justify-content: center;
}
.productPageLeft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50rem;
  /* margin: 0rem 0rem 0rem 0rem; */
  /* padding: 1rem 1rem 1rem 1rem; */
}
.WhatInsideBoxTitleText{
  font-size: 2.5rem;
  font-weight: 900;
  font: bold;
  color: solid var(--lightBlack);
  margin: 4rem 0rem 0rem 0rem;
}
.WhatsInsideEnvironmental{
  display: flex-column;
  justify-content: center;
}
.WhatsInsideEnvironmentalTitle{
  display: flex;
  justify-content: center;
}
.WhatsInsideEnvironmentalp1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.WhatsInsideEnvironmentalp2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Css related to SelectionBox */

.selectionBoxTitleTextFirstword{
  font-size: 1.5rem;
  font-weight: 900;
  font: bold;
  color: var(--black);
  margin: 4rem 0rem 0rem 0rem;
}
.selectionBoxTitleTextFirstword1{
  font-size: 1.5rem;
  font-weight: 900;
  font: bold;
  color: var(--grey);
  margin: 4rem 0rem 0rem 0rem;
}
.modelDetailBox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0rem 0rem 1rem;
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
  border: 1px solid var(--grey);
  border-radius: 1rem;
  width: 20rem;
  cursor: pointer;
}
.modelDetailBoxSelected{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0rem 0rem 1rem;
  padding: 0.5rem 0.1rem 0.5rem 0.1rem;
  border: 2px solid var(--blue);
  border-radius: 1rem;
  width: 20rem;
  cursor: pointer;
}

.modelDetailBoxMainTitle{
  font-size: 1.2rem;
  font-weight: 900;
  font: bold;
  color: var(--black);
  margin: 0rem 0rem 0rem 0rem;
}
.modelDetailBoxMainPara{
  font-size: 0.865rem;
  font-weight: 550;
  color: bold var(--grey);
  margin: 0rem 0rem 0rem 0rem;
}
.modelDetailBoxMain1{
  display: flex-column;
  justify-content: center;
  gap:2rem;
}
.modelDetailBoxMain2{
  display: flex-column;
  gap: 0.5rem;
}
.modelDetailBoxMainEmi{
  font-size: 0.865rem;
  font-weight: 550;
  color: bold var(--grey);
  margin: 1rem 0rem -1rem 0rem;
}
.modelDetailBoxPrice{
  font-size: 0.865rem;
  font-weight: 550;
  color: bold var(--grey);
}
/* .selectionBox{
  display: flex-column;
  justify-content: center;
  align-items: center;
}
.selectionBoxTitle{
  display: flex;
  justify-content: center;
} */

/* Css related to Color Picker Component */

.colorPickerButtonList{
  list-style: none;
  display: flex;
}

.colorPickerButtonListMain{
  display:flex;
  align-items: flex;
  gap: 4rem;
}
.colorPickerButtonListItem{
  margin: 0rem 0rem 0rem 0.5rem;
}